<h1>Availabilities#new</h1>
<p>Find me in app/views/availabilities/new.html.erb</p>

<select multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
